* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    background-color: #16384b;
}

.container {
    display: grid;
    gap: 1px;
    width: 700px;
    height: 700px;
    padding: 0;
}

.item {
    background-color: #7e7979;
}

.painted {
    background-color:black;
}

.buttons {
    display: flex;
    flex-direction: column;
}
