* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-color: #16384b;
    padding: 100px;
}

h1 {
    font-size: 50px;
}

.container {
    display: grid;
    width: 620px;
    height: 620px;
    padding: 0;
    border: solid 10px #0d2431;
    border-radius: 5px;
}

.item {
    background-color: #7e7979;
}

.painted {
    background-color:black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

input[type="color"] {
    border: none;
    background-color: #16384b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    width: 30px;
    height: 40px;
    border: solid 5px;
    border-radius: 50%;
}

.inputRange {
    display: flex;
    flex-direction: column;
}

#gridSize {
    margin-top: 5px;
    appearance: none;
    height: 5px;
    border-radius: 15px;
}

#gridSize::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0d2431;
    cursor: pointer;
}

#gridSize::-moz-range-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#labelGridSize {
    font-size: 20px;
    margin-bottom: 5px;
}

